.inputBody {
	background-color: transparent;
}

.input {
	height: 30px;
	border: 2px solid orange;
	border-radius: 5px;
	padding: 0px 0px 0px 10px;
	width: 450px;
	margin: 0px 20px 0px 0px;
	background-color: #fff;
}
.label {
	background-color: transparent;
	display: block;
	margin: 0px 0px 6px 0px;
	text-align: left;
}
